footer {
    background: $main_color;
    @include gradient(#fff, $main_color);
    color: #000;

    .footer_flex {
        width: 100%;
        display: flex;
    }

    .footer_part1,
    .footer_part2 {
        width: 47.5%;
    }

    .footer_part1 {
        p {
            font-size: 1rem;

            &:first-child {
                padding: 10px 0 5px 5px;
            }

            &:last-child {
                padding: 0 0 5px 12px;
            }
        }
    }

    .footer_part2 {
        display: flex;
        justify-content: flex-end;
    }

    a {
        padding: 10px 5px 5px 0;
    }

    img {
        width: 50px;
        height: 50px;
        transition: opacity 0.4s;

        &:hover {
            opacity: 0.6;
        }
    }
}
