header {
    background-color: #fff;
    //Do gradient//
}

nav {
    display: flex;
    justify-content: center;
    height: 100%;

    .nav_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        > li {
            font-family: $fonts_regular;
            font-size: 1rem;
            padding-top: 2%;
            flex-basis: 100%;
            text-transform: uppercase;


            a {
                &:link {
                    text-decoration: none;
                    color: $main_color;
                }

                &:hover {}
            }
        }
    }
}
