/*-----FONT VARIABLES-------*/

$fonts_regular: "amble-regular", Arial, Helvetica, sans-serif;
$fonts_bold: "amble-bold", Arial, Helvetica, sans-serif;
$fonts_thin: "amble-thin", Arial, Helvetica, sans-serif;
$font_old_standard: "Old Standard TT", "Times New Roman", Times, serif;

/*-----COLOUR VARIABLES------*/
$main_color: #C0C0C0;

/*-----HAMBURGER MENU-----*/
$button-size: 20px;
$button-color: #000;
